.footer {
  max-width: 1050px;
  margin: 50px auto;
  margin-bottom: 0;
  .footer_top {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #59595933;
    padding-top: 50px;
    margin-bottom: 50px;

    .footer_link_block {
      font-family: "Ramillas", sans-serif;
      display: flex;
      flex-direction: column;
    }

    .link_block {
      display: flex;
      justify-content: space-between;
      max-width: 900px;
      width: 100%;
      padding-right: 30px;
    }
    .footer_link {
      color: #b06101;
      font-family: Fors;
      font-size: 16px;
      font-weight: 300;
      margin-bottom: 10px;
    }
    .footer_icon {
      height: 30px;
      width: 30px;
      margin: 0px 60px 20px 60px;
      user-select: none;
    }
    .footer_nav_title {
      color: #262626;
      font-family: Ramillas;
      font-size: 20px;
      font-weight: 700;
      letter-spacing: 0.6px;
      text-transform: uppercase;
    }

    .block_line {
    }
  }

  .footer_two {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #59595933;
    display: flex;
    align-items: center;
    color: #b06101;
    color: #b06101;
    font-family: Fors;
    font-size: 16px;
    font-weight: 300;

    .logo_svg {
      user-select: none;
    }

    .w_40 {
      width: 40%;
    }
    .text_end {
      text-align: end;
    }
  }
}
