// =======x======================
.title {
  margin-top: 50px;
  margin-bottom: 30px;
  font-family: Ramillas;
  font-size: 48px;
  // font-style: normal;
  font-weight: 500;
  // line-height: normal;
}

.btn {
  font-weight: 300;
  margin: 15px 0;
  padding: 10px 25px;
  background: transparent;
  color: #000;

  border: 1px solid #b06101;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: 400ms;

  &:hover {
    color: #fff;
    background: #b06101;
  }
}

.section {
  border-top: 1px solid rgba(89, 89, 89, 0.2);
  // display: flex;
}

.sectionStock {
  padding: 0px;
  overflow: hidden;
  margin: 50px 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  .slider_block {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    z-index: 2;
    max-width: 1100px;
    transform: translate(-25px, 170px);

    .button {
      background: #fff center;
      background-size: cover;
      border: none;
      height: 50px;
      width: 50px;
      text-align: center;
      border-radius: 50%;
      cursor: pointer;
      transition: 400ms;
      // box-shadow: 0px 0px 7px 3px #00000020;
    }
    .button:nth-child(1) {
      margin-left: -50px;
      background-image: url(../../../../public/prev.svg);
    }
    .button:nth-child(2) {
      margin-right: -50px;
      background-image: url(../../../../public/next.svg);
    }

    .button:hover {
      transform: scale(122%);
    }
  }
  .cardStockWrap {
    padding-left: 10px;
    padding-bottom: 20px;
    display: flex;
    gap: 30px;
    // padding-left: 30px;
    // margin-left: 30px;
    transition: 500ms ease;
  }
}
// =============================

.restaurant {
  margin: 0 30px;
  display: flex;
  padding: 7% 0;
  margin-top: 7%;
  border-top: 1px solid #59595933;

  .left_block {
    width: 510px;
    height: 400px;
    margin-right: 20px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
  }

  .right_block {
    margin: auto;
    max-width: 505px;
    max-height: 400px;

    .info_block {
      margin: 50px auto;
      color: #262626;
      text-align: justify;
      font-family: Fors;
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
    }

    .wrap_block {
      margin-top: 5%;
      display: flex;
      justify-content: space-between;
    }

    .time_block {
      margin-top: 10px;
      color: #000;
      font-family: Fors;
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
    }

    .restaurant_title {
      color: #262626;
      font-family: TT Ramillas Trl;
      font-size: 48px;
      font-weight: 500;
      text-transform: uppercase;
      display: flex;

      .mark_color {
        margin-left: 12px;
        color: #b06101;
      }
    }
    .btn {
      color: #262626;
      font-family: Fors;
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
    }
  }
}

.service {
  margin: 0 30px;
  margin-bottom: 50px;
  .title_block {
    margin: 7% 0;
    color: #262626;
    font-family: Ramillas;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
  }

  .service_wrap {
    display: grid;
    // grid-auto-rows: 320px;
    grid-template-columns: repeat(2, 510px);
    justify-content: space-between;
    row-gap: 40px;

    .service_block {
      // margin-bottom: 40px;
      .block_img {
        width: 100%;
        padding: 100px 0;
        border-radius: 20px;
        background-color: #cfcfcf;
        background-size: cover;
        background-position: center;
      }

      .block_service_info {
        color: #000;
        font-family: Fors;
        font-size: 13px;
        font-weight: 300;

        .btn {
          margin-left: 25px;
          width: 155px;
          color: #262626;
          font-family: Fors;
          font-size: 16px;
          font-weight: 300;
        }
      }
      .service_title {
        margin: 20px auto 5px;
        color: #000;
        font-family: Ramillas;
        font-size: 20px;
        font-weight: 500;
        text-transform: uppercase;
      }
      .block_info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .service_info {
          max-width: 326px;
          color: #262626;
          font-family: Fors;
          font-size: 13px;
          font-weight: 300;
          height: 54px;
          margin-right: 10px;

          display: -webkit-box; /* Установка типа отображения блока */
          -webkit-box-orient: vertical; /* Установка вертикальной ориентации блока */
          overflow: hidden; /* Скрытие любого текста, выходящего за пределы контейнера */
          text-overflow: ellipsis; /* Добавление многоточия для обозначения скрытого текста */
          -webkit-line-clamp: 3; /* Ограничение количества видимых строк */
        }
      }
    }
  }
}

.contact {
  margin: 0 30px;
  border-top: 1px solid #59595933;

  .title {
    margin-top: 50px;
    color: #262626;
    font-family: Ramillas;
    font-size: 48px;
    font-weight: 500;
    letter-spacing: 2.4px;
    text-transform: uppercase;
  }
  .info_block {
    margin: 60px auto;
  }
  .text {
    color: #262626;
    font-family: Fors;
    font-size: 16px;
    font-weight: 300;
  }
  .block_email {
    margin: 60px auto;
  }
  .email {
    color: #b06101;
    font-family: Fors;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
  .btn {
    width: 250px;
    color: #262626;
    font-family: Fors;
    font-size: 16px;
    font-weight: 300;
  }
}

// ============================
