// =============================
.title {
  margin-top: 50px;
  margin-bottom: 30px;
  font-family: Ramillas;
  font-size: 48px;
  // font-style: normal;
  font-weight: 500;
  // line-height: normal;
}

.btn {
  font-weight: 300;
  margin: 15px 0;
  padding: 10px 25px;
  background: transparent;
  color: #000;

  border: 1px solid #b06101;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: 400ms;

  &:hover {
    color: #fff;
    background: #b06101;
  }
}

.section {
  border-top: 1px solid rgba(89, 89, 89, 0.2);
  // display: flex;
}
.cardStockWrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
// =============================
.sectionStock {
  margin: 50px 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.restaurant {
  display: flex;
  padding: 7% 0;
  margin-top: 7%;
  border-top: 1px solid #59595933;

  .left_block {
    width: 510px;
    height: 400px;
    margin-right: 20px;
    border-radius: 20px;
    background-image: url(http://localhost:4200/Vkys_bar.webp);
    background-size: cover;
    background-position: center;
  }

  .right_block {
    margin: auto;
    max-width: 505px;
    max-height: 400px;

    .info_block {
      margin: 50px auto;
      color: #262626;
      text-align: justify;
      font-family: Fors;
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
    }

    .wrap_block {
      margin-top: 5%;
      display: flex;
      justify-content: space-between;
    }

    .time_block {
      margin-top: 10px;
      color: #000;
      font-family: Fors;
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
    }

    .restaurant_title {
      color: #262626;
      font-family: TT Ramillas Trl;
      font-size: 48px;
      font-weight: 500;
      text-transform: uppercase;
      display: flex;

      .mark_color {
        margin-left: 12px;
        color: #b06101;
      }
    }
    .btn {
      color: #262626;
      font-family: Fors;
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
    }
  }
}

.service {
  .title_block {
    margin: 7% 0;
    color: #262626;
    font-family: Ramillas;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
  }

  .service_wrap {
    display: grid;
    // grid-auto-rows: 320px;
    grid-template-columns: repeat(2, 510px);
    justify-content: space-between;
    row-gap: 40px;

    .service_block {
      // margin-bottom: 40px;
      .block_img {
        width: 100%;
        padding: 100px 0;
        border-radius: 20px;
        background-color: #cfcfcf;
        background-size: cover;
        background-position: center;
      }
      .bathhouse {
        background-image: url(http://localhost:4200/service/spa_service.webp);
      }
      .fitnes {
        background-image: url(http://localhost:4200/service/fitness_service.webp);
      }
      .conference {
        background-image: url(http://localhost:4200/service/conference_service.webp);
      }
      .transfer {
        background-image: url(http://localhost:4200/service/transfer-service.webp);
      }

      .block_service_info {
        color: #000;
        font-family: Fors;
        font-size: 13px;
        font-weight: 300;

        .btn {
          margin-left: 25px;
          width: 155px;
          color: #262626;
          font-family: Fors;
          font-size: 16px;
          font-weight: 300;
        }
      }
      .service_title {
        margin: 20px auto 5px;
        color: #000;
        font-family: Ramillas;
        font-size: 20px;
        font-weight: 500;
        text-transform: uppercase;
      }
      .block_info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .service_info {
          margin-right: 10px;
        }
      }
    }
  }
}

.contact {
  border-top: 1px solid #59595933;

  .title {
    margin-top: 50px;
    color: #262626;
    font-family: Ramillas;
    font-size: 48px;
    font-weight: 500;
    letter-spacing: 2.4px;
    text-transform: uppercase;
  }
  .info_block {
    margin: 60px auto;
  }
  .text {
    color: #262626;
    font-family: Fors;
    font-size: 16px;
    font-weight: 300;
  }
  .block_email {
    margin: 60px auto;
  }
  .email {
    color: #b06101;
    font-family: Fors;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
  .btn {
    width: 250px;
    color: #262626;
    font-family: Fors;
    font-size: 16px;
    font-weight: 300;
  }
}



// ============================

.card {
  padding: 20px;
  background-color: #f1f1f1;
  transition: transform 0.3s ease-in-out;
  width: 33.33%;

  h2 {
    font-size: 18px;
    margin-bottom: 8px;
  }

  p {
    font-size: 14px;
    color: #666;
  }
}

.slider {
  display: flex;
  flex-wrap: hidden;
}

.button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
}

.button:hover {
  background-color: #0056b3;
}

.firstCard {
  transform: translateX(-100%);
}




.slider {
  display: flex;
  overflow: hidden;
}

