.background_popup {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: #22222220;
  overflow: hidden;
  display: none;
}
.offer {
  // margin: 0 20px;
  height: 400px;
  // width: 29%;
  width: 330px;
  border-radius: 20px;
  overflow: hidden;
  background: #f8f8f8;
  color: #000000;
  cursor: pointer;
  transition: 400ms;

  .img_for_offer {
    // background-image: url(http://localhost:4200/gastro-dinner.webp);
    height: 220px;
    background-color: #5e5b5b;
    border-radius: 20px 20px 0 0;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;

    .btn_delete {
      background: url("../../../../../../public/delete.svg");
      background-color: #f8f8f8;
      height: 50px;
      width: 50px;
      border-radius: 0px 0px 0px 15px;
      border: none;
      overflow: hidden;
      cursor: pointer;
      transition: 400ms;

      &:hover {
        transform: scale(105%);
        background-color: #ee5e5e;
        transition: 400ms;
      }
    }
  }

  .info_block {
    padding: 15px;
    height: 180px;
    .title_offer {
      height: 44px;

      font-family: Ramillas;
      font-size: 16px;
      // font-style: normal;
      font-weight: 300;
      // line-height: normal;
    }
    .font_for_text {
      margin-top: 10px;
      font-family: Fors;
      font-size: 13px;
      font-style: normal;
      font-weight: 300;
      user-select: none;
      width: 100%;
      // height: 100%;
      resize: none;

      &:focus-visible {
        outline: none;
      }
    }
  }
}
