.form {
  .card_create_wrap {
    display: flex;
    width: 100%;
  }
}
.offer {
  margin: 0 30px;
  height: 400px;
  width: 330px;
  border-radius: 20px;
  overflow: hidden;
  background: #f8f8f8;
  color: #000000;
  cursor: pointer;
  transition: 400ms;

  .img_for_offer {
    // background-image: url(http://localhost:4200/gastro-dinner.webp);
    height: 220px;
    background-color: #d9d9d9;
    border-radius: 20px 20px 0 0;
    background-size: cover;
    background-position: center;
  }

  .info_block {
    padding: 15px;
    height: 180px;
    .title_offer {
      text-transform: uppercase;
      max-height: 44px;
      font-family: Ramillas;
      font-size: 16px;
      font-weight: 300;
    }
    .font_for_text {
      width: 100%;
      height: 100%;
      resize: none; /* Запрет изменения размера textarea */
      overflow: auto; /* Показывать полосы прокрутки, если текст не помещается */
      word-wrap: break-word; /* Переносить слова, если они не помещаются */
    }
  }
}

.input {
  background: transparent;
  border: none;
  width: 100%;
  height: 100px;
  color: #000000;
  white-space: pre-wrap;
  resize: none;

  &:focus-visible {
    outline: none;
    // border-bottom: 2px solid #B06101;
  }
}

.card_wrap {
  max-width: 1050px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.full_card {
  height: 400px;
  width: 730px;
  border-radius: 20px;
  overflow: hidden;
  background: #f8f8f8;
  color: #000000;
  cursor: pointer;
  transition: 400ms;

  .img_for_offer {
    height: 220px;
    background-color: #d9d9d9;
    border-radius: 20px 20px 0 0;
    background-size: cover;
    background-position: center;
  }

  .info_block {
    padding: 15px;
    height: 180px;
    .title_offer {
      text-transform: uppercase;
      height: auto;
      font-family: Ramillas;
      font-size: 16px;
      font-weight: 300;
    }
    .font_for_text {
      margin-top: 10px;
      font-family: Fors;
      height: 100%;
      font-size: 13px;
      font-style: normal;
      font-weight: 300;
    }
  }
}
