
.offer {
    margin: 0 30px;
    height: 400px;
    width: 30%;
    border-radius: 20px;
    overflow: hidden;
    background: #F8F8F8;
    color: #000000;
    cursor: pointer;
    transition: 400ms;
    
    .img_for_offer {
        background-image: url(http://localhost:4200/gastro-dinner.webp);
        height: 220px;
        background-color: #5E5B5B;
        border-radius: 20px 20px 0 0;
        background-size: cover;
        background-position: center;
    }
    .title_offer {
        padding: 10px 15px;
        font-weight: 300;
        font-size: 16px;
        line-height: 28px;
    }
    .font_for_text {
        font-weight: 300;
        padding: 0 15px;
        font-weight: 300;
        font-size: 13px;
        line-height: 18px;
    }
}
