.nav {
  display: flex;
  width: 1050px;
  padding: 15px 0px;
  justify-content: space-between;
  align-items: center;
}

.ul_nav {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

.nav_link {
  color: #FFF;
  text-align: center;
  font-family: "Fors";
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.8px;
  transition: 400ms;


  &:hover {
    color: #b06101;
    transition: 400ms;
  }
}


.BTN_boking {
  padding: 8px 20px;
  font-family: "Fors";
  font-weight: 300;

  border: 1px solid #b06101;
  border-radius: 20px;
  background-color: transparent;
  transition: 0.3s;
  color: #FFF;
}

.BTN_boking:hover {
  background-color: #b06101;
}

.middle {
  margin: auto;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  margin-bottom: 50px;

  text-align: center;

  font-size: 48px;
  font-family: "Ramillas", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.4px;

  text-transform: uppercase;
}

.button_booking {
  padding: 7px 50px;

  font-family: Fors;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;

  border-radius: 20px;
  border: 1px solid #b06101;

  transition: 0.3s;
}

.button_booking:hover {
  background-color: #b06101;
}
// видео
.video_wallpaper {
  min-height: 100vh;
  min-width: 100vw;
  position: absolute;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.80) 0%, #00000050 100%);
}
